header {
    margin: 0px;
    padding: 0px;
    height: 80px;
    background-color: whitesmoke;
}

.nav-item {
    color: black;
}

.jumbotron {
    margin-top: 1px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 2px;
    width: 100%;
    background-color: orchid;
}

.container{
    height: 450px;
}

.hero-text {
    display: flex;
}

.card-body {
    background-color: orchid;
}

.card {
    display: flex;
    flex-direction: row;
}

.card {
    margin-top: 10px;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
}

.card-text {
    font-size: 15px;
    color: black;
    display: inline-flex;
    justify-content: space-around;
}

.copyright {
    display: flex;
    justify-content: center;
}